@model AirBnB.Models.Property

@{
    ViewData["Title"] = "Create";
}

@*<div class="createbackground">*@

@*Neamaaaaaaaaaaaaaaaaaaaaaaa*@
@*Start*@
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <div class="start">
                <h1 fw-bolder> It’s easy to get <br>started on Airbnb</h1>
            </div>
        </div>
        <div class="col-md-6 col-md-push-5 ">
            <div class=" mt-5">
                <div class=" text-md-right pb-3">
                    <h4 fw-bolder text-dark>
                        1 Tell us about your place
                    </h4>
                    <div class="row">
                        <h5 class="col-md-8 col-md-push-8 text-secondary ms-3">
                            Share some basic info, like where it is and how many guests can stay.
                        </h5>
                        <img class="col-md-3 col-md-push-3" src="~/createimgs/$RL20YJP.png" />
                    </div>
                </div>
                <!-- 2 -->
                <hr class="m-6">
                <div class=" text-md-right pt-3">
                    <h4 fw-bolder text-dark>
                        2 Make it stand out
                    </h4>
                    <div class="row pb-3">
                        <h5 class="col-md-8 col-md-push-8 text-secondary ms-3">
                            Add 5 or more photos plus a title and description—we’ll help you out.
                        </h5>
                        <img class="col-md-3 col-md-push-3" src="~/createimgs/$RR96XHQ.png" />
                    </div>
                    <!-- 3 -->
                    <hr class="m-6">
                    <div class=" text-md-right pt-3">
                        <div class="row pb-2">
                            <h4 fw-bolder text-dark>
                                3 Finish up and publish
                            </h4>
                            <h5 class="col-md-8 col-md-push-8 text-secondary ms-3">
                                Choose if you'd like to start with an experienced guest, set a starting price, and publish your listing.
                            </h5>
                            <img class="col-md-3 col-md-push-3 " src="~/createimgs/$RDT168S.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Start*@

    <!-- slide 1 -->

    <hr class="m-2">

    <div class="row">
        <div class="col-md-6 col-md-push-7">
            <div class="steps">
                <p fw-bold>Step 1</p>
                <h1>Tell us about your place</h1>
                <p>
                    In this step, we'll ask you which type of property you have and if guests will book the entire place or
                    just a room. Then let us know the location and how many guests can stay.
                </p>
            </div>
        </div>

        <div class="col-md-6 col-md-push-5 ">
            <div class=" mt-2">
                <div class=" text-md-right">
                    <img class="col-lg-12 col-lg-push-14" src="~/createimgs/$RPIW7AV.gif">
                </div>
            </div>
        </div>
    </div>

    <hr class="m-6">
    <!--  /slide 1 -->
    @*Neamaaaaaaaaaaaaaaaaaaaaaaa*@



    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-9 offset-2">
                <div class="form-group">
                    @* <!-- 2 --> *@
                    <h2 class="properties-headers">
                        Which of these best describes your place?
                    </h2>
                    <div class="row">
                        @foreach (var cat in ViewBag.cat)
                        {
                            <label id="radbtn-@cat.CategorayId" class="col-3 m-2 p-3 rounded-3 text-start btns">
                                <div class="p-2">
                                    <div>
                                <img class="icons-image" src="~/CategoryImgs/@cat.Categoryphotosrc" alt="option 1" />
                                </div>
                                <input type="radio" asp-for="CategorayId" value="@cat.CategorayId" onclick="myfunc('radbtn-'+@cat.CategorayId)" class="opacity-0 btns" />
                                @cat.CategorayName
                                </div>
                            </label>
                        }                     
                    </div>
                </div>

                <div class="col-9">
                    <h2 class="properties-headers mb-3">
                        Where's your place located?
                    </h2>
                    <div class="form-group">
                        <select asp-for="AreaId" class="form-control select-loc mb-3" asp-items="ViewBag.AreaId"></select>
                    </div>
                </div>
            </div>


            @*Dohaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*@


            @*Neamaaaaaaaaaaaaaaaaaaaaaaa*@

            <!-- slide2 -->
            <hr class="m-2">
            <div class="row">
                <div class="col-md-6 col-md-push-7">
                    <div class="steps">
                        <p fw-bold>Step 2</p>
                        <h1>Make your place <br> stand out</h1>
                        <p>
                            In this step, you’ll add some of the amenities your place offers, plus 5 or more photos. Then, you’ll
                            create a title and description.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-md-push-5 ">
                    <div class=" mt-5">
                        <div class=" text-md-right">
                            <img class="col-lg-12 col-lg-push-14" src="~/createimgs/$RGZEF4E.gif">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">

            <!-- /slide2 -->
            @*Neamaaaaaaaaaaaaaaaaaaaaaaa*@           
            @*     Amenities     *@
            <div class="form-group">
                <div class="col-9 offset-2">
                    <div class="row">
                        <h2 class="properties-headers mb-3">
                            Tell guests what your place has to offer
                        </h2>
                        <p class="text-secondary">You can add more amenities after you publish your listing.</p>           
                        @foreach (var item in ViewBag.Amenity as List<Amenity>)
                        {
                            @*<div class="p-2">*@
                            <label id="radbtnamenity-@item.AmenityId" class="col-3 m-2 p-3 rounded-3 text-start btns">
                                <div>
                                <img class="icons-image" src="~/AmenityImg/@item.AmenityImgSrc" alt="option 1" />
                                </div>
                                <input type="checkbox" name="amenity" value="@item.AmenityId" class="opacity-0 btns" onclick="multiplefunction('radbtnamenity-'+@item.AmenityId)" autocomplete="off">
                                @item.AmenityName                               
                            </label>
                            @*</div>*@
                        }
                    </div>

                    @*imageeeeeeeeeeeeeeeeeeeeeeeees*@

                    <h2 class="properties-headers mb-3">
                        Add some photos of your boat
                    </h2>
                    <p class="text-secondary">You'll need 5 photos to get started. You can add more or make changes later.</p>
                    <div class="pictures">
                        <div class="text-center photostexts">
                            <img src="/Icons_Imgs/photos.png" alt="photos" class="photo">
                            <h3>Drag your photos here</h3>
                            <h6 class="fw-normal fs-5 text-center">Choose at least 5 photos</h6>
                            <input id="files" type="file" name="propImg" class="offset-2" multiple />
                        </div>
                    </div>

                    @*enter your property title*@
                    <div class="form-group">
                        <h2 asp-for="PropertyTitle" class="control-label properties-headers mb-2">Now, let's give your boat a title</h2>
                        <p class="text-secondary">Short titles work best. Have fun with it—you can always change it later.</p>
                        <textarea asp-for="PropertyTitle" rows="5" cols="80" class="form-control inputs rounded-3 textarea fs-5 mt-3 p-3"></textarea>

                        @*<input asp-for="PropertyTitle" class="form-control inputs" />*@
                        <span asp-validation-for="PropertyTitle" class="text-danger"></span>
                    </div>

                    @*enter your property description *@
                    <div class="form-group mb-1">
                        <h2 asp-for="PropertyDescription" class="control-label properties-headers mb-2">Create your description</h2>
                        <p class="text-secondary">Share what makes your place special.</p>
                        @**input asp-for="PropertyDescription" class="form-control inputs" /> *@
                        <textarea rows="6" cols="55" class="form-control inputs rounded-3 textarea mb-4 p-3 fs-5 placeholder=" This place to stay is truly one of a kind.""
                                  asp-for="PropertyDescription"></textarea>
                        <span asp-validation-for="PropertyDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        @*Neamaaaaaaaaaaaaaaaaaaaaaaa*@

        <!-- slide3 -->
        <hr class="m-2">
        <div class="row">
            <div class="col-md-6 col-md-push-7 ">
                <div class="steps">
                    <p>Step 3</p>
                    <h1>Finish up and publish</h1>
                    <p>
                        Finally, you’ll choose if you'd like to start with an experienced guest, then you'll set your nightly
                        price. Answer a few quick questions and publish when you're ready.
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-md-push-5 ">
                <div class=" mt-2">
                    <div class=" text-md-right">
                        <img class="col-lg-12 col-lg-push-14" src="~/Images/1.gif">
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-3">

        <!-- /slide3 -->
        @*Neamaaaaaaaaaaaaaaaaaaaaaaa*@

        <div class="row">
            <div class="col-7 offset-2">
                <div class="form-group">
                    <label asp-for="PropertyCapacity" class="control-label texts fw-bold"></label>
                    <input asp-for="PropertyCapacity" class="form-control inputs" />
                    <span asp-validation-for="PropertyCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyBedsNum" class="control-label texts fw-bold"></label>
                    <input asp-for="PropertyBedsNum" class="form-control inputs" />
                    <span asp-validation-for="PropertyBedsNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyBedRooms" class="control-label texts fw-bold"></label>
                    <input asp-for="PropertyBedRooms" class="form-control inputs" />
                    <span asp-validation-for="PropertyBedRooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyBath" class="control-label texts fw-bold"></label>
                    <input asp-for="PropertyBath" class="form-control inputs" />
                    <span asp-validation-for="PropertyBath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyPricePerNight" class="control-label texts fw-bold"></label>
                    <input asp-for="PropertyPricePerNight" class="form-control inputs" />
                    <span asp-validation-for="PropertyPricePerNight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyHostInfo" class="control-label texts fw-bold"></label>
                    @**input asp-for="PropertyHostInfo" class="form-control inputs" />*@
                    <textarea rows="5" cols="80" class="form-control inputs fs-5"
                              asp-for="PropertyHostInfo"></textarea>
                    <span asp-validation-for="PropertyHostInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                   
                    <input asp-for="AppUserId" class="form-control" value='@ViewData["userid"]' type="hidden" />
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-info offset-4 mt-4 fs-5 fw-bold submitbtn" />
                </div>
            </div>
        </div>
    </form>
</div>
@*</div>*@


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

