@model IEnumerable<AirBnB.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<div class="centercategories">
    @foreach (var item in ViewBag.cat)
    {
        <div class="All-icons">
            <a asp-action="Details" asp-controller="Categorays" asp-route-id="@item.CategorayId"><img class="icons" src="~/Icons_Imgs/@item.Categoryphotosrc" /></a>
        </div>
    }
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="properties-list">
    @foreach (var prop in Model)
    {
        var propPhotos = prop.PropertyImgs.ToList();
        @*   int length = propPhotos.Count();*@
        <div class="we col-5">
            <h1>@prop.PropertyTitle</h1>
            <div id="carouselExample_@prop.PropertyId" class="carousel slide">
                <div class="carousel-inner">


                    @for (int i = 0; i < propPhotos.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="/Images/@propPhotos.ElementAt(i).ImgSrc" width="480" height="480" class="d-block w-100" />
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="/Images/@propPhotos.ElementAt(i).ImgSrc" width="480" height="480" class="d-block w-100" />
                            </div>
                        }
                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample_@prop.PropertyId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample_@prop.PropertyId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="propertyinfo">
                <h1 class="bluewords">@prop.PropertyPricePerNight $</h1>
                <h1 class="bluewords">@prop.Area.AreaName</h1>
                <h1 class="bluewords">@prop.Area.City.CityName</h1>
                <a class="btn btn-primary" asp-controller="Bookings" asp-action="Create" asp-route-id="@prop.PropertyId">Book</a>
            </div>
        </div>
    }

</div>