@model IEnumerable<AirBnB.Models.Categoray>

@{
    ViewData["Title"] = "Index";
}
<div class="container" style="text-align:center">

<h1>Categorays</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategorayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategorayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategorayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategorayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategorayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
